<div class="footer bgcolor">
    <div class="container">
        <div class="row gy-5">
          <div class="col-md-4 text-center">
            <h3 class="text-uppercase text-white">location</h3>
            <p class="text-white">2215 John Daniel Drive</p>
            <p class="text-white">Clark, MO 65243</p>
          </div>
          <div class="col-md-4">
            <h3 class="text-uppercase text-center text-white">AROUND THE WEB</h3>
            <div class="icons-container d-flex justify-content-evenly">
              <span class="icon"> <i class="fa-brands fa-facebook"></i></span>
              <span class="icon"> <i class="fa-brands fa-linkedin"></i></span>
              <span class="icon"> <i class="fa-brands fa-twitter"></i></span>
              <span class="icon"> <i class="fa-solid fa-globe"></i></span>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <h3 class="text-uppercase text-white">ABOUT FREELANCER</h3>
            <p class="text-white">
              Freelance is a free to use, licensed Bootstrap theme created by Route
            </p>
          </div>
        </div>
      </div>
      <div>
        <p class="text-center p-3 text-white copyright">Copyright © Your Website 2021</p>
      </div>
</div>
