<div class="about py-5 text-center mt-5 mb-5">
  <div class="container pt-5">
    <h1 class="text-uppercase pt-5 text-white">about component</h1>
    <span><i class="fa-regular fa-star text-white"></i></span>
    <div class="row my-5">
      <div class="col-md-6">
        <p class="text-white">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-white">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</div>
