<div class="container text-center py-5">
  <h1 class="text-uppercase pt-5 color">contact section</h1>
  <span><i class="fa-regular fa-star"></i></span>
  <form class="pb-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">userName</label>
      <input type="email" class="form-control w-50 mx-auto" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label ">userAge</label>
      <input type="password" class="form-control w-50 mx-auto" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label ">userEmail</label>
        <input type="password" class="form-control w-50 mx-auto" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label ">userPassword</label>
        <input type="password" class="form-control w-50 mx-auto" id="exampleInputPassword1">
      </div>
    <button type="submit" class="btn btn-primary">Send Message</button>
  </form>
</div>
