<div class="portfolio my-5">
    <div class="container text-center">
      <h1 class="text-uppercase pt-5 cust-color">portfolio component</h1>
      <span class="customspan">
        <i class="fa-regular fa-star cust-color"></i>
      </span>
      <div class="row gy-5 py-5">
        <div class="col-md-4 position-relative hover">
          <div class="img-container position-relative">
            <img
              src="./assets/imgs/port1.png"
              alt="home"
              class="w-100 rounded"
            />
            <div
              class="adjust position-absolute d-flex justify-content-center align-items-center"
            >
              <span><i class="fa-solid fa-plus fs-1 text-white"></i></span>
            </div>
          </div>
        </div>
        <div class="col-md-4 position-relative hover">
            <div class="img-container position-relative">
              <img
                src="./assets/imgs/port2.png"
                alt="home"
                class="w-100 rounded"
              />
              <div
                class="adjust position-absolute d-flex justify-content-center align-items-center"
              >
                <span><i class="fa-solid fa-plus fs-1 text-white"></i></span>
              </div>
            </div>
          </div>
          <div class="col-md-4 position-relative hover">
            <div class="img-container position-relative">
              <img
                src="./assets/imgs/port3.png"
                alt="home"
                class="w-100 rounded"
              />
              <div
                class="adjust position-absolute d-flex justify-content-center align-items-center"
              >
                <span><i class="fa-solid fa-plus fs-1 text-white"></i></span>
              </div>
            </div>
          </div>
          <div class="col-md-4 position-relative hover">
            <div class="img-container position-relative">
              <img
                src="./assets/imgs/port1.png"
                alt="home"
                class="w-100 rounded"
              />
              <div
                class="adjust position-absolute d-flex justify-content-center align-items-center"
              >
                <span><i class="fa-solid fa-plus fs-1 text-white"></i></span>
              </div>
            </div>
          </div>
          <div class="col-md-4 position-relative hover">
            <div class="img-container position-relative">
              <img
                src="./assets/imgs/port2.png"
                alt="home"
                class="w-100 rounded"
              />
              <div
                class="adjust position-absolute d-flex justify-content-center align-items-center"
              >
                <span><i class="fa-solid fa-plus fs-1 text-white"></i></span>
              </div>
            </div>
          </div>
          <div class="col-md-4 position-relative hover">
            <div class="img-container position-relative">
              <img
                src="./assets/imgs/port3.png"
                alt="home"
                class="w-100 rounded"
              />
              <div
                class="adjust position-absolute d-flex justify-content-center align-items-center"
              >
                <span><i class="fa-solid fa-plus fs-1 text-white"></i></span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  